.App{
  text-align: center;
}

.App button{
  background:blue;
  padding: 0.5rem 0.1rem;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  cursor: pointer;

}

.cat-pic{
  max-width: 30rem;
  margin: 2rem auto;

}

.cat-pic img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 5px;
}